body {
  background-color: black;
}

h1 {
  color: beige;
  font-size: large;
  line-height: normal;
}

h2, h3 {
  color: beige;
  font-size: small;
  line-height: normal;
}

.p-text {
  color: rgb(30, 238, 41);
}

/* LW CSS*/

/*
.container {
  width: 500px;
  margin: 0 auto;
}
*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

/*.list-inline {
  list-style: none;
  padding-left: 0px;
}
*/

/* END OF LW CSS*/

.ascii {
  color: rgb(30, 238, 41);
  background: black;
  display:inline-block;
  white-space:pre;
  letter-spacing:0;
  line-height:1.4;
  font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
  font-size:12px;

  border-width:1px;
  border-style:none;
  border-color:lightgray;
}
